{% extends "layouts/signed_out.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    {% if submitted %}
      <div>
        Если мы нашли учетную запись, связанную с этим адресом электронной почты, вы вскоре найдете письмо от нас в своем почтовом ящике.
      </div>
    {% else %}
      <form role="form" method="post">
        <div class="form-group">
          <label for="email">Введите адрес электронной почты, который вы использовали для этой учетной записи:</label>
          <input type="email" class="form-control" name="email" value="{{email}}">
        </div>
        <button type="submit" class="btn btn-primary btn-block m-t-25">Сбросить пароль</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
